/* Applies to entirety of the project*/
*{
    margin: 0%; /* Adds space outside element*/
    padding: 0; /* Adds space inside element (can effect size)*/
}

.container {
    width: 100%;
    height: 100vh; /* vh = viewport height, 100vh = 100% of the viewport height*/
    background-color: rgb(23, 149, 130);
    display: flex; /* flexbox: easier to align and move elements without a container, or makes children flex items*/
    justify-content: center; /* Used with flex, left/center/right/etc. */
    align-items: center; /* Used with flex, top/center/bottom/etc. */


}

.weather_container {
    padding-right: 5rem;
    color: white;
}

.temp {
    font-size: 4.5rem; /* rem = root element, 5rem = 5 times the default size of root element. Font-size of paragraph = 16px, 5rem = 80px*/
}

.time_location {
    font-size: 1.5rem;
}

.condition {
    margin: 0.5rem 0rem; /* Adds space to all sides - Shorthand (top right bottom left)*/
}

nav {
    height: 100px;
}

.search_area {
    padding: 1rem 1rem;
    outline: none;
    border: none;
    color: white; /* Color for input = text color*/
    background-color: transparent;
    font-size: 1.1rem;
    border-bottom: 2px solid white;
    width: 98%
}

.search_area::placeholder {
    color: white;
}

nav form button {
    padding: 0.5rem;
    background-color: white;
    margin-top: 1rem;
    font-size: 1.1rem;
    outline: none;
    border: none;
    cursor: pointer;
}